body {
  background-color: #f9f7fe;
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: rgb(82, 57, 142);
  font-size: 50px;
  font-weight: 600;
}

h2 {
  color: #6643b5;
  font-size: 15px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.col-1 {
  width: 50%;
}

.container {
  padding-top: 30px;
}

.page-text {
  margin-bottom: 10px;
  margin-top: 10px;
  padding: 3px 10px;
}

.choose-city {
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  color: #6643b5;
  margin-bottom: 10px;
  margin-right: 20px;
  margin-top: 10px;
  text-align: left;
  width: 75%;
}

label[for="searchButton"] {
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  margin-bottom: 10px;
  margin-right: 10px;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
  width: 25%;
}

label[for="currentButton"] {
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  background-color: #7c58cf;
  border-color: #7c58cf;
  color: white;
  margin-bottom: 10px;
  margin-top: 10px;
  transition: all 200ms ease-in-out;
  width: 25%;
}

.btn.btn-current.clicked {
  background-color: #7c58cf;
  border-color: #7c58cf;
  color: white;
}

.btn-primary:hover {
  cursor: pointer;
  opacity: 0.9;
}

.btn-current:hover {
  cursor: pointer;
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0 !important;
  background-color: #7c58cf !important;
  border-color: #7c58cf !important;
  color: white !important;
  opacity: 0.9;
}

#city {
  font-size: 28px;
  position: relative;
  top: -10px;
}

.degrees {
  font-size: 15px;
  position: relative;
  top: -20px;
}

.weather-forecast {
  margin-top: 40px;
  text-align: center;
}

.weather-forecast-date {
  color: #6643b5;
  font-size: 15px;
  font-weight: 600;
}

.weather-forecast-max-temperature {
  color: #6643b5;
  font-size: 14px;
  font-weight: 600;
}

.weather-forecast-min-temperature {
  color: #6643b5;
  font-size: 14px;
  font-weight: 600;
  opacity: 0.8;
}

footer {
  font-size: 12px;
  text-align: center;
}
