body {
  font-family: "Open Sans", sans-serif;
}
h1 {
  color: rgb(82, 57, 142);
  font-size: 50px;
  font-weight: 600;
}

h2 {
  color: #6643b5;
  font-size: 15px;
  margin: 0;
}

ul {
  list-style-type: none;
  padding-left: 0;
}

.col-1 {
  width: 50%;
}

.container {
  padding-top: 30px;
}

.page-text {
  padding: 3px 10px;
}

.choose-city {
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  color: #6643b5;
  margin-bottom: 10px;
  margin-right: 20px;
  text-align: left;
  width: 75%;
}

.btn-primary {
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  margin-bottom: 10px;
  margin-right: 10px;
  width: 25%;
}

.btn-success {
  box-shadow: rgba(37, 39, 89, 0.05) 0px 8px 8px 0;
  margin-bottom: 10px;
  width: 25%;
}

.btn-check:hover {
  cursor: pointer;
}

#city {
  font-size: 28px;
  position: relative;
  top: -10px;
}

.degrees {
  font-size: 15px;
  position: relative;
  top: -20px;
}

footer {
  font-size: 12px;
  text-align: center;
}
